---
import Hero from '../components/Hero.astro';
import RecentWorks from '../components/RecentWorks.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<RecentWorks />
	</main>
</Layout>

<style>
	
</style>
