---
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import RecentWorks from '../components/RecentWorks.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Erling Nails">
	<main>
		<Hero />
		<RecentWorks />
		<Contact />
		<Footer />
	</main>
</Layout>

<style>
	
</style>
