---

--- 

<section class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 justify-center items-center gap-4 mx-4 mt-10 mb-16">
        <p class="text-2xl font-medium text-center">© 2024 ERLING NAIL. All rights reserved.</p>
        <a href="/contact" class="text-3xl font-medium text-center border-2 border-[#2C2C2C] rounded-full p-2 w-auto hover:bg-black hover:text-white transition-all duration-600">Get in touch</a>
        <div>
            <p class="text-2xl font-medium text-center mb-5">Phone: +506 8999-9999</p>
            <p class="text-2xl font-medium text-center">Email: HerO1@example.com</p>
        </div>
    </div>
</section>