---
---

<header class="container mx-auto">
    <div class=" flex justify-between p-4">
        <svg width="40" height="40" viewBox="0 0 49 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.36 19.772C10.656 19.772 11.736 19.7 12.6 19.556C13.488 19.388 14.184 19.136 14.688 18.8C15.216 18.464 15.588 18.032 15.804 17.504C16.044 16.976 16.164 16.352 16.164 15.632H17.424V25.46H16.164C16.164 24.74 16.056 24.116 15.84 23.588C15.648 23.06 15.288 22.628 14.76 22.292C14.256 21.932 13.56 21.668 12.672 21.5C11.808 21.308 10.704 21.212 9.36 21.212V29.348C9.36 30.14 9.456 30.8 9.648 31.328C9.84 31.832 10.164 32.252 10.62 32.588C11.1 32.9 11.724 33.128 12.492 33.272C13.26 33.392 14.208 33.452 15.336 33.452C16.608 33.452 17.688 33.368 18.576 33.2C19.464 33.008 20.208 32.696 20.808 32.264C21.408 31.832 21.888 31.268 22.248 30.572C22.608 29.852 22.908 28.964 23.148 27.908H24.516L23.976 35H1.62V33.632C2.46 33.608 3.132 33.536 3.636 33.416C4.164 33.296 4.572 33.092 4.86 32.804C5.148 32.516 5.34 32.108 5.436 31.58C5.532 31.052 5.58 30.368 5.58 29.528V12.752C5.58 11.912 5.532 11.24 5.436 10.736C5.364 10.208 5.196 9.8 4.932 9.512C4.692 9.2 4.332 8.996 3.852 8.9C3.372 8.78 2.748 8.696 1.98 8.648V7.28H22.788L23.112 13.616H21.852C21.708 12.656 21.468 11.876 21.132 11.276C20.82 10.652 20.376 10.16 19.8 9.8C19.248 9.44 18.54 9.188 17.676 9.044C16.812 8.9 15.768 8.828 14.544 8.828H9.972C9.564 8.828 9.36 9.032 9.36 9.44V19.772Z" fill="black"/>
            <path d="M41.984 44.36L24.884 21.824H24.74V37.196C24.74 38.396 24.776 39.344 24.848 40.04C24.944 40.736 25.112 41.276 25.352 41.66C25.616 42.044 25.976 42.296 26.432 42.416C26.912 42.536 27.536 42.608 28.304 42.632V44H18.62V42.632C19.46 42.608 20.132 42.536 20.636 42.416C21.164 42.272 21.572 42.02 21.86 41.66C22.148 41.3 22.34 40.796 22.436 40.148C22.532 39.476 22.58 38.576 22.58 37.448V22.832C22.58 21.824 22.532 20.996 22.436 20.348C22.364 19.676 22.196 19.148 21.932 18.764C21.692 18.38 21.332 18.116 20.852 17.972C20.372 17.804 19.748 17.696 18.98 17.648V16.28H26.108L41.84 37.268H41.984V23.084C41.984 21.908 41.936 20.972 41.84 20.276C41.768 19.556 41.6 19.004 41.336 18.62C41.096 18.236 40.736 17.984 40.256 17.864C39.8 17.744 39.188 17.672 38.42 17.648V16.28H48.104V17.648C47.264 17.672 46.58 17.756 46.052 17.9C45.548 18.02 45.152 18.26 44.864 18.62C44.576 18.98 44.384 19.496 44.288 20.168C44.192 20.84 44.144 21.728 44.144 22.832V44.36H41.984Z" fill="black"/>
            </svg>

            <div class="flex mx-2">
            <a href="/Works" class="flex flex-nowrap text-2xl font-medium">My Works</a>

            <a href="/contact" class="flex flex-nowrap text-2xl font-medium ml-8">Contact</a>
            </div>
    </div>
        
</header>