---
import acuarela1 from '../assets/acuarela1.png';
---
<section class="container mx-auto">
    
<h2 class="flex justify-center text-5xl md:text-7xl transition-all duration-1000 mt-32 w-auto">Recent Works</h2>
<picture>
    <img class="absolute right-0 -z-10 top-[28%] md:-rotate-12 md:top-[36%] lg:top-[32%] w-auto max-h-auto" src={acuarela1.src} alt="Acuarela" />
</picture>
<div class="grid grid-cols-1 md:grid-cols-2 justify-center items-center gap-4 mx-4 mt-10">
    
    <article class=" w-auto h-96 rounded-md bg-gradient-to-t from-white to-transparent">
        <div class=" inset-0 -z-10 h-full w-full from-white via-slate-400 to-transparent bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"></div>
    </article> 
    <article class=" w-auto h-96 rounded-md bg-gradient-to-t from-white to-transparent">
        <div class=" inset-0 -z-10 h-full w-full from-white via-slate-400 to-transparent bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"></div>
    </article> 
    <article class=" w-auto h-96 rounded-md bg-gradient-to-t from-white to-transparent">
        <div class=" inset-0 -z-10 h-full w-full from-white via-slate-400 to-transparent bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"></div>
    </article> 
    <article class=" w-auto h-96 rounded-md bg-gradient-to-t from-white to-transparent">
        <div class=" inset-0 -z-10 h-full w-full from-white via-slate-400 to-transparent bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"></div>
    </article> 
</div>

</section>