---
import acuarela1 from '../assets/acuarela1.png';
import acuarela2 from '../assets/acuarela2.png';
---
<section class="container mx-auto">
    <picture class="flex justify-end -mb-24 ">
        <img class="h-auto w-80" src={acuarela1.src} alt="Acuarela" />
    </picture>
<h2 class="flex justify-center text-5xl md:text-7xl transition-all duration-1000 w-auto">Recent Works</h2>

<div class="grid grid-cols-1 md:grid-cols-2 justify-center items-center gap-4 mx-4 mt-10">
    
    <article class=" w-auto h-96 rounded-md bg-gradient-to-t from-white to-transparent overflow-hidden">
        <div class=" inset-0 -z-10 h-full w-full from-white via-slate-400 to-transparent bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"> 
            <div class="w-full h-full relative">
                <img class="w-full h-full object-cover" src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas2_uthtzu.jpg" alt="">
            </div>
        </div>
        
    </article> 
    <article class=" w-auto h-96 rounded-md bg-gradient-to-t from-white to-transparent overflow-hidden">
        <div class=" inset-0 -z-10 h-full w-full from-white via-slate-400 to-transparent bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]">
            <div class="w-full h-full relative">
                <img class="w-full h-full object-cover" src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas4_pawj3w.jpg" alt="">
            </div>
        </div>
    </article> 
    <article class=" w-auto h-96 rounded-md bg-gradient-to-t from-white to-transparent overflow-hidden">
        <div class=" inset-0 -z-10 h-full w-full from-white via-slate-400 to-transparent bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]">
            <div class="w-full h-full relative">
                <img class="w-full h-full object-cover" src="https://res.cloudinary.com/drwd1wtvt/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1725497870/unas5_w9aupj.jpg" alt="">
            </div>
        </div>
    </article> 
    <article class=" w-auto h-96 rounded-md bg-gradient-to-t from-white to-transparent overflow-hidden">
        <div class=" inset-0 -z-10 h-full w-full from-white via-slate-400 to-transparent bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]">
            <div class="w-full h-full relative">
                <img class="w-full h-full object-cover" src="https://res.cloudinary.com/drwd1wtvt/image/upload/v1725497288/unas3_veyhbe.jpg" alt="">
            </div>
        </div>
    </article> 
</div>

<div class="flex justify-center my-20">
    <a href="/Works" class="text-2xl font-medium text-center my-10">Want to see more? I invite you to explore further...</a>
</div>
</section>